<div class="container py-5">
  <div class="row">
    <div class="col-9">
      <div class="d-flex justify-content-between">
        <button
          class="btn btn-primary"
          (click)="createRoom()"
        >Create new room</button>
        <button
          class="btn btn-primary"
          (click)="logout()"
        >Logout</button>
      </div>
      <ng-container *ngIf="rooms$ | async as rooms">
        <ng-container *ngFor="let room of rooms">
          <app-card-room
            [name]="room.name"
            [description]="room.description"
            [roomId]="room.id"
          ></app-card-room>
        </ng-container>
      </ng-container>
    </div>
    <div class="col">
      <ng-container *ngIf="users$ | async as users">
        <ng-container *ngFor="let user of users">
          <app-card-member
            [name]="user.name"
            [isOnline]="user.isOnline"
          ></app-card-member>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
