<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login(loginForm.value)"
      >
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Email"
          >
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
          >
          <button
            type="submit"
            class="btn btn-primary"
          >Login</button>
        </div>
      </form>
      <div class="ml-5">
        <button
          type="button"
          class="btn btn-primary"
          (click)="navigateToSignUp()"
        >Signup</button>
      </div>
    </div>
  </div>
</div>
