::-webkit-scrollbar {
  width: 0;
}

.chat-room-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 4;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.chat-room-body {
  margin-top: 78px;
  height: 83vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.chat-room-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: #fff;
  border-top: solid 1px #6c757d;
}
