<div *ngIf="user$ | async as user">
  <ng-container *ngIf="chatMessage$ | async"></ng-container>
  <header class="chat-room-header">
    <button
      class="btn btn-primary"
      routerLink=".."
    >Back</button>
  </header>
  <div
    class="container"
    *ngIf="room$ | async as room"
  >
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column">
          <div
            #chatHistory
            class="chat-room-body"
            [scrollTop]="chatHistory.scrollHeight"
            *ngIf="room.messages.length > 0"
          >
            <div *ngFor="let messageObject of room.messages">
              <app-card-message
                [name]="messageObject.sender?.name"
                [message]="messageObject.message"
                [createdAt]="messageObject.createdAt"
              ></app-card-message>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="chat-room-footer">
    <form
      [formGroup]="messageForm"
      (ngSubmit)="sendMessage(user.id, messageForm.value)"
    >
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          formControlName="message"
          placeholder="Type message"
        >
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="submit"
          >Send</button>
        </div>
      </div>
    </form>
  </footer>
</div>
