<div class="card my-3 bg-light">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-title">{{ name }}</h5>
      <p class="card-text">{{ description }}</p>
    </div>
    <a
      [routerLink]="[roomId]"
      class="btn btn-primary"
    >Enter chat room</a>
  </div>
</div>
