<div class="card my-3 bg-light">
  <div class="card-body d-flex align-items-center justify-content-between">
    <div>
      <h5 class="card-sender">{{ name }}</h5>
      <span class="card-text">{{ message }}</span>
    </div>
    <div>
      <span>{{ createdAt | date: 'medium' }}</span>
    </div>
  </div>
</div>
