<div class="card my-3 bg-light">
  <div class="card-body d-flex align-items-center">
    <img
      class="avatar rounded-circle"
      src="https://placebear.com/50/50"
      alt="avatar"
      width="50"
      height="50"
    >
    <div class="card-body">
      <div>{{ name }}</div>
      <div>{{ isOnline ? 'Online' : 'Offline' }}</div>
    </div>
  </div>
</div>
